<div>
 <div class="container">
   <h2>My To-do List</h2>
   <%= form_with(url: "/todos", method:"post") do %>
   
   <input type="text" id="Todo" placeholder="What's next?" name="todo_text"/>
   <input type="date" id="date" name="due_date"/>
   <input type="submit" class="btn" value="Add" /><br/>
   
   <% end %>
</div>
<div>
<%= render partial: "todo_section",
 locals: {section_title:"Overdue",
 todos: @todos.overdue,
 show_due_date: true
 } 
 %>
</div>
<%= render partial: "todo_section",
 locals: {section_title:"Due Today",
 todos: @todos.due_today,
 show_due_date: false
 } 
 %>

<%= render partial: "todo_section",
 locals: {section_title:"Due Later",
 todos: @todos.due_later,
 show_due_date: true
 }
 %>
 </div>